<h1>Добавить новый PDF файлa</h1>


<%= form_tag({action: :create}, multipart: true, remote: true, authenticity_token: true)  do  %>
      <%= file_field_tag 'datafile' ,accept: 'application/pdf' %></p>
    <%= submit_tag 'Обработать!' , :id => "submit", disabled: 'true'%>
<% end %>





<h2>Уже добавленные</h2>
<table id="Book">
  <tr>
    <th>Client #</th>
    <th>Bill #</th>
    <th>Upload at</th>
    <th></th>
  </tr>

  <% @books.each do |book| %>
      <tr>

        <td><%= book.client_num %></td>
        <td><%= book.bill_num %></td>
        <td><%= book.created_at %></td>
        <td><%= link_to 'Подробней', {:action => 'show', :book_id => book.id} %></td>

      </tr>
  <% end %>
</table>

